#label1{
    -fx-font-size: 15px;
    -fx-font-family: 'Helvetica', sans-serif;
}

#gridachieve{
    -fx-font-size: 15px;
}

#menuBar1{
    -fx-font-size: 15px;
    -fx-background-color: #86a986;
    -fx-font-family: 'Helvetica', sans-serif;
}

.menu-bar{
    -fx-padding: 0px;
}

#buttonhome{
    -fx-font-size: 15px;
    -fx-border-color: #a9a9a9;
    -fx-background-color: #e4ffe2;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonhome:hover{
    -fx-background-color: #1aee40;
}