.root{
    -fx-background-color: white;
}

.text-field{
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}

#labelpage{
     -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonaddbike:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-background-radius: 5px;
}

#buttonaddbike{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonhome{
    -fx-font-size: 15px;
    -fx-border-color: #a9a9a9;
    -fx-background-color: #e4ffe2;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonhome:hover{
    -fx-background-color: #1aee40;
}

#menuBar1{
    -fx-font-size: 15px;
    -fx-background-color: #86a986;
    -fx-font-family: 'Helvetica', sans-serif;
}

.menu-bar{
    -fx-padding: 0px;
}