.root{
    -fx-background-color: white;
}

.text-field{
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}

#label1{
     -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonaddbike:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#buttonaddbike{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica', sans-serif;
}