#button2{
    -fx-border-color: #1aee40;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
}

#button3{
    -fx-border-color: #1aee40;
    -fx-font-size: 20px;
    -fx-border-radius: 5px;
}

#button2:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#button3:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}
