#button2{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica', sans-serif;
}

#button3{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
    -fx-font-family: 'Helvetica', sans-serif;
}

#button2:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#button3:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#label1{
    -fx-font-size: 30px;
    -fx-font-family: 'Helvetica', sans-serif;
}