.root{
    -fx-background-color: white;
}

.text-field{
    -fx-font-size: 20px;
}

#labelpage{
    -fx-font-size: 20px;
}

.check-box{
    -fx-font-size: 20px;
}

.check-box:selected .mark {
    -fx-background-color: green;
}

.check-box:hover{
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#buttonaddlocal:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#buttonaddlocal{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

#menuBar1{
    -fx-font-size: 15px;
    -fx-background-color: #86a986;
    -fx-font-family: 'Helvetica', sans-serif;
}

.menu-bar{
    -fx-padding: 0px;
}

#buttonhome{
    -fx-font-size: 15px;
    -fx-border-color: #a9a9a9;
    -fx-background-color: #e4ffe2;
    -fx-font-family: 'Helvetica', sans-serif;
}

#buttonhome:hover{
    -fx-background-color: #1aee40;
}