.root {
    -fx-background-color: #a4ee6f;
}

.button{
    -fx-font-size: 20px;
    -fx-border-radius: 30px;
}

#button1{
    -fx-background-color: #3cee3b;
}

#button2{
    -fx-shape: "M 250 300 L 400 300 L 400 250 L 550 350 L 400 450 L 400 400 L 250 400 L 250 300 ";
    -fx-background-color: #3cee3b;
}

#button1:hover{
    -fx-background-color: white;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button2:hover{
    -fx-background-color: white;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.label{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}