#button1{
    -fx-background-image: url("images/foodlogo.jpg");
    -fx-font-size: 25;
}

#button2{
    -fx-background-image: url("images/homelogo.jpg");
    -fx-font-size: 25;
}

#button3{
    -fx-background-image: url("images/transportlogo.jpg");
    -fx-font-size: 25;
}

#button4{
    -fx-background-image: url("images/statslogo.jpg");
    -fx-font-size: 25;
}

#button5{
    -fx-font-size: 15px;
}

#button5:hover{
    -fx-background-color: #1aee40;
}

#label1{
    -fx-font-size: 20px;
}

#button1:hover{
    -fx-border-color: #1aee40;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button2:hover{
    -fx-border-color: #1aee40;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button3:hover{
    -fx-border-color: #1aee40;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button4:hover{
    -fx-border-color: #1aee40;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}