.text-field{
    -fx-font-size: 20px;
}

#label1{
    -fx-font-size: 20px;
}

#buttonaddtrans:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#buttonaddtrans{
    -fx-font-size: 20px;
    -fx-border-color: #1aee40;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}