.text-field{
    -fx-font-size: 20px;
}

#label1{
    -fx-font-size: 20px;
}

.button:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-border-color: grey;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}