.root{
    -fx-background-color: #e4ffe2;
}

.button{
    -fx-background-color: #3cee3b;
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}

.label{
    -fx-font-size: 20px;
    -fx-font-family: 'Helvetica', sans-serif;
}