#label1{
    -fx-font-size: 20px;
}

#button1:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-border-color: grey;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button2:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-border-color: grey;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button3:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-border-color: grey;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#button4:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
    -fx-border-color: grey;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.choice-box{
    -fx-border-radius: 10px;
}

.choice-box .context-menu{
    -fx-background-color: #1aee40;
    -fx-border-radius: 20px;
}
