.root{
    -fx-background-color: white;
}

#label1{
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

#griduser{
}

#vboxleader{
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
}

#friends{
    -fx-border-color: grey;
    -fx-border-radius: 5px;
}

#buttonaccept{
    -fx-font-size: 15px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

#buttonaccept:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#buttondecline{
    -fx-font-size: 15px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

#buttondecline:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#buttonfriend{
    -fx-font-size: 15px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

#buttonfriend:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#addFriend{
    -fx-font-size: 15px;
    -fx-border-color: grey;
    -fx-border-radius: 5px;
    -fx-background-color: transparent;
}

#addFriend:hover{
    -fx-border-radius: 5px;
    -fx-background-color: #1aee40;
}

#labelfriend{
    -fx-font-size: 15px;
}
